<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class='wrapper'>
            <div class='header-footer'>header</div>
            <div class='gray-row'>
                <div class='genius-block'>
                    <div class='genius-block__text'>
                    Гений непредвзято понимает под собой конфликт. 
                    Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. 
                    Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, 
                    поэтому закон исключённого третьего индуцирует изоморфный ротор.
                    </div>
                </div>
                <div class='gray-col'>
                    <div class='gray-block'>
                        <div class='gray-block__text text'>
                            Чувство однократно
                        </div>
                    </div>
                    <div class='gray-block'>
                        <div class='gray-block__text text'>
                            Морено
                        </div>
                    </div>
                </div>
            </div>
            <div class='second-row'>
                <div class='second-row__white-blocks'>
                    <div class='second-row__block'>
                        <div class='second-row__text text'>
                            Наши сотрудники
                        </div>
                    </div>
                    <div class='second-row__block'>
                        <div class='second-row__text text'>
                            Просветляет понимающий тест
                        </div>
                    </div>
                    <div class='second-row__block second-row__block_stretched'>
                        <div class='second-row__text text'>
                            Конформизм
                        </div>
                    </div>
                </div>
                <div class='second-row__yellow-blue'>
                    <div class='second-row__block second-row__block_blue'>
                        <div class='second-row__text text'>
                            Интроекция
                        </div>
                    </div>
                    <div class='second-row__block second-row__block_yellow'>
                        <div class='second-row__text text'>
                            Наши сотрудники
                        </div>
                    </div>
                </div>
            </div>
            <div class='third-row'>
                <div class='green-col'>
                    <div class='gray-block gray-block_green'>
                        <div class='green-block-text text'>
                            Понятие модернизации понимает механизм власти
                        </div>
                    </div>
                    <div class='gray-block gray-block_img'>
                        <div class='green-block-text green-block-text_white text'>
                            Наши сотрудники
                        </div>
                    </div>
                </div>
                <div class='genius-block genius-block_green'>
                    <ul class="oglavl">
                        <li>
                            <span class="first-span">Фамилия</span>
                            <span class="second-span">Мамай</span>
                        </li>
                        <li>
                            <span class="first-span">Имя и отчество</span>
                            <span class="second-span">Станиславаленина<br>Владимировна</span>
                        </li>
                        <li>
                            <span class="first-span">Номер полиса выдан заведомо<br>ложный</span>
                            <span class="second-span">01354879</span>
                        </li>
                        <li>
                            <span class="first-span">Дата рождения</span>
                            <span class="second-span">01.12.1976</span>
                        </li>
                        <li>
                            <span class="first-span">Телефон</span>
                            <span class="second-span">+79254218069</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class='fourth-row'>
                <div class='fourth-row__col'>
                    <div class='fourth-row__block'>
                        <div class='fourth-row__text text'>
                            Лидерство
                        </div>
                    </div>
                    <div class='fourth-row__block fourth-row__block_red'>
                        <div class='fourth-row__text text'>
                            Невероятный гений
                        </div>
                    </div>
                </div>
                <div class='fourth-row__right'>
                    <div class='fourth-row__block fourth-row__block_stretched'>
                        <div class='fourth-row__text text'>
                            Однако
                        </div>
                    </div>
                    <div class='fourth-row__block'>
                        <div class='fourth-row__text text'>
                            Точка перегиба
                        </div>
                    </div>
                    <div class='fourth-row__block fourth-row__block_purple'>
                        <div class='fourth-row__text text'>
                            Длина вектора
                        </div>
                    </div>
                </div>
            </div>
            <div class='header-footer'>
                footer
            </div>
        </div>
    </body>
</html>