* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

.wrapper {
   display: flex;
   width: 650px;
   margin: 20px auto;
   flex-wrap: wrap;
   background-image: url('image.jpeg');
}

.message {
   display: flex;
   align-items: flex-start;
   margin: 20px;
   flex-direction: row;
}

.message_reversed {
   position: relative;
   width: 92%;
   flex-direction: row-reverse;
}

.message__field {
   max-width: 470px;
   background: #F1F3F5;
   border-radius: 5px;
   padding: 10px 15px 7px 15px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   margin: 0 40px;
   word-wrap: break-word;
}

.message__field_reversed {
   margin-right: 29px;
}

.message__pointer {
   display: inline;
   position: relative;
   left: 58px;
   top: 10px;
   width: 0px;
	height: 0px;
	border-top: 10px solid #F1F3F5; 
	border-left: 15px solid transparent;
}

.message__pointer_right {
   display: inline;
   position: relative;
   top: 10px;
   right: 48px;
   width: 0;
	height: 0;
	border-top: 10px solid #F1F3F5; 
	border-right: 15px solid transparent;	
}

.message__avatar {
   margin-left: -35px;
   width: 50px;
}

.hexagon {
   overflow: hidden;
   visibility: hidden;
   -webkit-transform: rotate(120deg);
      -moz-transform: rotate(120deg);
       -ms-transform: rotate(120deg);
        -o-transform: rotate(120deg);
           transform: rotate(120deg);
   cursor: pointer;
   }
.hexagon-in1 {
   overflow: hidden;
   width: 100%;
   height: 100%;
   -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
       -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
           transform: rotate(-60deg);
   }
.hexagon-in2 {
   width: 100%;
   height: 100%;
   background-repeat: no-repeat;
   background-size: 100px 50px;
   background-image: url(fox.jpg);
   visibility: visible;
   -webkit-transform: rotate(-60deg);
      -moz-transform: rotate(-60deg);
       -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
           transform: rotate(-60deg);
   }

   .hexagon1 {
      width: 100px;
      height: 50px;
      }

.line {
   width: 100%;
   display: flex;
}

.white-line {
   height: 0px;
   width: 246px;
   border: 1px solid #DBDBDB;
   opacity: 0.5;
}

.white-line_stretched {
   width: 100%;
}

.line__text {
   position: relative;
   top: -10px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 24px;
   margin: 0 25px;

   /* identical to box height, or 171% */
}

.type-field {
   margin: 20px 30px 20px 25px;
   padding: 10px;
   height: 129px;
   width: 590px;
   border-radius: 4px;
   background: #FFFFFF;
   border: 1px solid #DBDBDB;
   box-sizing: border-box;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   line-height: 19px;
   color: #696969;
}

.button {
   height: 41px;
   width: 144px;
   background: #0F54B9;
   box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
   border-radius: 21px;
   color: white;
   text-align: center;
   font-family: Noto Sans;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0em;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 0 30px 25px;
   cursor: pointer;
}